---
title: Release Notes for TIBCO BusinessWorks Container Edition Buildpack for VMware Tanzu
owner: Partners
---

These are release notes for TIBCO BusinessWorks Container Edition Buildpack for VMware Tanzu.

<a id="ver"></a> **v2.8.1**

**Release Date:** April 14, 2023

Features included in this release:

- Support added for VMware Tanzu 3.0
- Certification with Kubernetes 1.25.x
- Ability to import/export AppTemplates from/to TIBCO Cloud™ Integration Marketplace
- Support is added for Threadpool Shared Resource with REST Reference Binding.
- Support is added for String type module properties for AWS Secret Manager Credential Management Service provider.
- Support is added for Azure Managed Identities for JDBC Shared Resource.
- Support is added for TraceID and SpanID in engine logging statements.

For the detailed release notes for the TIBCO BusinessWorks Container Edition Buildpack, see the TIBCO [documentation](https://docs.tibco.com/pub/bwce/2.8.1/relnotes/Default.htm).


<a id="ver"></a> **v2.8.0**

**Release Date:** December 19, 2022

Features included in this release:

- Support added for VMware Tanzu 2.13
- OAS 3.0 Enhancements:
  1. Support for Multiple Response feature
  2. oneOf/anyOf constructs support
  3. Support for Inline Schema at request and response
- Support is added for Hot Update for JDBC Shared Resource.
- OAuth 2.0 Authentication in ReceiveMail activity
- OAuth 2.0 Authentication is supported for Receive Mail Activity IMAP protocol in the Mail palette.
- Support for Multiple Profile Deployment via Maven
- Smart Mapper Enhancements:
  1. Import/export recommendation information
  2. Learn Existing Links feature
  3. Test Connection button for DB connection

For the detailed release notes for the TIBCO BusinessWorks Container Edition Buildpack, see the TIBCO [documentation](https://docs.tibco.com/pub/bwce/2.8.0/relnotes/Default.htm).

<a id="ver"></a> **v2.7.0**

**Release Date:** December 24, 2021

Features included in this release:

- Support added for VMware Tanzu 2.12
- Support is added to remember mappings made in a smart mapping session
- Support is added for Java 11
- Support added for OpenTelemetry for Tracing
- Support of Binary Response Format for OAS 3.0 REST services is provided
- View Documentation icon is added for plug-ins in Plug-in Manager
- REST service can return HTML content to the browser
- Support is added for Eclipse 4.19 platform for TIBCO Business Studio for BusinessWorks
- Support is added for TLS 1.3 version
- Smart Engine API
- Support is added for setting the request URL dynamically on REST reference binding

For the detailed release notes for the TIBCO BusinessWorks Container Edition Buildpack, see the TIBCO [documentation](https://docs.tibco.com/pub/bwce/2.7.0/relnotes/Default.htm).

<a id="ver"></a> **v2.6.2**

**Release Date:** July 7, 2021
Features included in this release:

- Support added for VNware Tanzu 2.11
- Support is added for multiple buildpacks while deploying in Cloud Foundry in TIBCO BusinessWorks Container Edition.
- Support is added for module properties for additional fields of the OAuth Configuration shared resource like Client ID, Client Secret, Username, Password, Scope, Confidentiality, Scope Token URL.
- Support is added for using configuration management service and credential management together at once for TIBCO BusinessWorks Container Edition applications.
- Support is added to manually update element mappings for Smart Mapper preview feature: After using the Smart Mapper, if you do not get the desired mapping results, you can now drag any other element. The smart mapper remembers your selection by increasing the recommended score for that element and then map the same elements next time.
- REST service binding and REST reference binding now support form parameters for Open API Specification 3.0.

For the detailed release notes for the TIBCO BusinessWorks Container Edition Buildpack, see the TIBCO [documentation](https://docs.tibco.com/pub/bwce/2.6.2/relnotes/Default.htm).


<a id="ver"></a> **v2.6.0**

**Release Date:** January 27, 2021

Features included in this release:

- Support added for VMware Tanzu 2.9 and 2.10
- This release adds out-of-the-box support for Azure Key Vault for Credential Management Service for TIBCO BusinessWorks Container Edition applications.
- This release adds support for OpenAPI 3.0 specification. You can create and implement REST Service defined with OpenAPI 3.0 Specification.
- TIBCO BusinessWorks Container Edition 2.6.0 provides capability to encrypt complete application profiles which can be decrypted while debugging and at runtime. It helps to increase security for application properties containing confidential information.
- In this release, you can compare two revisions of a process and its artifacts using new Visual Diff feature in TIBCO BusinessStudio for BusinessWorks.
- In this release, support added for application templates which provides ability to import and export pre-designed application templates designed with best practices and pre-configured processes, shared resources, modules etc.
- In this release, support is added for OAuth 2.0 configuration on HTTP Client shared resource for getting OAuth access and refresh token. It also adds ability to include access token in outbound REST reference.

For the detailed release notes for the TIBCO BusinessWorks Container Edition Buildpack, see the TIBCO [documentation](https://docs.tibco.com/pub/bwce/2.6.0/relnotes/GUID-E78E55FD-2394-4078-A1EA-854A631F13A9-homepage.html).


