---
title: Release Notes for TIBCO BusinessWorks Container Edition Buildpack for Pivotal Cloud Foundry
owner: Partners
---

These are release notes for TIBCO BusinessWorks Container Edition Buildpack for Pivotal Cloud Foundry.

##<a id="ver"></a> v2.4.4

**Release Date:** June 24, 2019

Features included in this release:

*This release extends out-of-the-box unit testing capability to add Mock Support. Moving ahead, you can select option Add Mock Output for activities and configure absolute path of a file to store mock outputs using Output File Path option.
*Open Tracing now supports the following:
	-Custom tags are now supported.
    -SOAP Service and Reference bindings are now supported in OpenTracing.
    -Process name for Starter activities are now displayed.
    -Error tag is set to True in the spans, if the respective activity execution fails.
*This release provides ability to resolve value of a module property by combining values of two or more module properties.
*Application Monitoring UI now includes a new option product_version. This gives the ability to view the product version on the UI as well as under monitoring logs.
*When the hystrix circuit breaker is open, specific error message is being thrown instead of generic hystrix exception.
*Adds the ability to make the XSLT validation optional.

For the detailed release notes for the TIBCO BusinessWorks Container Edition Buildpack, see the TIBCO [documentation](https://docs.tibco.com/pub/bwce/2.4.4/relnotes/GUID-E78E55FD-2394-4078-A1EA-854A631F13A9-homepage.html).
