---
title: Using TIBCO BusinessWorks Container Edition Buildpack for VMware Tanzu
owner: Partners
---

This topic describes how to use TIBCO BusinessWorks Container Edition Buildpack for VMware Tanzu.

## <a id='using'></a> Using TIBCO BusinessWorks Container Edition Buildpack for VMware Tanzu

To build TIBCO BusinessWorks applications that can run on VMware Tanzu using the runtime provided by the TIBCO BusinessWorks Container Edition Buildpack, you must use the TIBCO Business Studio for BusinessWorks development environment. [Download](https://www.tibco.com/products/tibco-businessworks) and install the TIBCO Business Studio for BusinessWorks development environment.

* For installation instructions, see [Installation](https://docs.tibco.com/pub/bwce/2.9.0/doc/html/installation/bwce-installation-overview.htm) in the TIBCO documentation.

* To develop BusinessWorks applications using TIBCO Business Studio for BusinessWorks development environment, see [Application Development](https://docs.tibco.com/pub/bwce/2.9.0/doc/html/app-dev-guide/studio-app-dev-overview.htm) in the TIBCO documentation.

* To run BusinessWorks applications on Pivotal Platform environment, see [Getting Started](https://docs.tibco.com/pub/bwce/2.9.0/doc/html/getting-started/studio-getting-started-overview.htm) in the TIBCO documentation.
