---
title: Using TIBCO BusinessWorks Container Edition Buildpack for VMware Tanzu
owner: Partners
---

This topic describes how to use TIBCO BusinessWorks Container Edition Buildpack for VMware Tanzu.

##<a id='using'></a> Using TIBCO BusinessWorks Container Edition Buildpack for VMware Tanzu

To build TIBCO BusinessWorks applications that can run on VMware Tanzu using the runtime provided by the TIBCO BusinessWorks Container Edition Buildpack, you must use the TIBCO Business Studio for BusinessWorks development environment. [Download](https://www.tibco.com/products/tibco-businessworks) and install the TIBCO Business Studio for BusinessWorks development environment.

* For installation instructions, see the [Installation](https://docs.tibco.com/pub/bwce/2.6.2/doc/html/Default.htm#installation/bwce-installation-overview.htm?TocPath=Installation%257C_____0) section from the TIBCO documentation.

* To develop BusinessWorks applications using TIBCO Business Studio for BusinessWorks development environment, refer to [Application Development](https://docs.tibco.com/pub/bwce/2.6.2/doc/html/Default.htm#app-dev-guide/studio-app-dev-overview.htm?TocPath=Application%2520Development%257C_____0) section from the TIBCO documentation

* To run BusinessWorks applications on Pivotal Platform environment, see [Getting Started](https://docs.tibco.com/pub/bwce/2.6.2/doc/html/Default.htm#getting-started/studio-getting-started-overview.htm?TocPath=Getting%2520Started%257C_____0) and [Samples](https://docs.tibco.com/pub/bwce/2.6.2/doc/html/Default.htm#samples-guide/studio-samples-overview.htm?TocPath=Samples%257C_____0) sections from the TIBCO documentation.
